.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar {
  min-width: 320px;
  max-width: 320px;
  /* min-height: 100vh; */
  position:fixed!important;
  transition: all 0.3s;
  margin-left: -320px;
  height:100%;
  
  /* z-index:1; */
  /* overflow:auto */
}

#superboton {
  /* min-width: 320px;
  max-width: 320px; */
  /* min-height: 100vh; */
  position:fixed!important;
  transition: all 0.3s;
  /* margin-left: -320px; */
  /* height:100%; */
}

#sidebar.active {
  margin-left: 0px;
  
}

#content {
  margin-left: 80px;
  transition: all 0.3s;
}

#content.active2 {
  margin-left: 400px;
}
#background {
  background-image: url(../common/images/pexels-pixabay-60504.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.textarea {
  background-color:transparent;
}

.login2 {
  margin-bottom: auto;
  margin-top: 200px;
}
.login {
  margin-bottom: auto;
  margin-top: 200px;
  background-color:transparent!important;
  border: solid white;
}

.toggle-btn {
  position: absolute;
  margin-left: 320px;
  cursor: pointer;
  font-size: 30px;
}

.boton2 {
  margin-left: 320px!important;
  transition: all 0.3s;
}

.boton1 {
  margin-left: 0px!important;
  transition: all 0.3s;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
} 

.login-form { 
  text-align: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: #E2E2E2;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.margin {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .boton2 {
    margin-left: 320px!important;
    transition: all 0.3s;
  }
  .boton1 {
    margin-left: 0px!important;
    transition: all 0.3s;
  }
}
@media (max-height: 768px) {
  .login2 {
    margin-bottom: auto;
    margin-top: auto;
  }
}

